<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDod-rGQuQn07g6Ws6E4lq72a2q8AOXClY</string>
	<key>GCM_SENDER_ID</key>
	<string>146094344291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fflivestreamgemini</string>
	<key>PROJECT_ID</key>
	<string>sample-chat-app-jez69n</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-chat-app-jez69n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146094344291:ios:ef22286e328b7846c71056</string>
</dict>
</plist>